container_commands:
    01_syncdb:
        command: "django-admin.py syncdb --noinput"
        leader_only: true
    02_migrate:
        command: "django-admin.py migrate"
        leader_only: true

option_settings:
    "aws:elasticbeanstalk:application:environment":
        "DJANGO_SETTINGS_MODULE": "services.settings.deploy"
